body {
    font-family: "Helvetica", sans-serif;
    line-height: 1.6;
    background-color: #fdf6e3;
    color: #333;
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
}

h1,
h2,
h3 {
    color: #2e6c80;
}

img {
    max-width: 100%;
    display: block;
    margin: 20px auto;
}
